.intro {
  background-color: white;
  display: flex;
  .left {
    flex: 0.5;
    overflow-y: hidden;

    .imageContainer {
      width: 800px;
      height: 800px;
      background-color: crimson;
      border-radius: 50%;
      display: flex;
      justify-content: center;
      align-items: center;
      float: right;
      img {
        height: 90%;
        width: 100%;
      }
    }
  }
  .right {
    flex: 0.5;
    position: relative;
    .wrapper {
      width: 100%;
      height: 100%;
      display: flex;
      flex-direction: column;
      padding-left: 50px;
      justify-content: center;
      h1 {
        margin: 20px 0;
        font-size: 50px;
      }
      h2 {
        font-size: 35px;
      }
      h3 {
        font-size: 30px;
        span {
          color: Red;
          font-size: inherit;
        }
      }
    }
    a {
      position: absolute;
      bottom: 10px;
      display: flex;
      align-items: center;
      justify-content: center;
      left: 30%;
      img {
        width: 30px;
        animation: arrowBlink 2s infinite;
      }
      @keyframes arrowBlink {
        100% {
          opacity: 0;
        }
      }
    }
  }
}
