.app {
  height: 100vh;
  .section {
    width: 100%;
    height: calc(100vh - 5em);
    background-color: lightcyan;
    position: relative;
    top: 5em;
    scroll-behavior: smooth;
    scroll-snap-type: y mandatory;
    scrollbar-width: none;
    &::-webkit-scrollbar {
      display: none;
    }
    > * {
      width: 100vw;
      height: calc(100vh - 5em);
      scroll-snap-align: start;
    }
  }
}
